<div class="grid">
    <div class="col-12">
        <p-confirmDialog [style]="{maxWidth: '100vw'}" acceptLabel="Sim" rejectLabel="Não"
            rejectButtonStyleClass="p-button-danger" [baseZIndex]="10000">
        </p-confirmDialog>
        <div class="card" *ngIf="renderedCadastro">
            <form [formGroup]="formGroup" #form="ngForm" (ngSubmit)="salvar()">
                <div class="flex align-items-center">
                    <div class="flex-grow-1">
                        <h4>Cadastro de tipos de lançamento</h4>
                    </div>
                    <div class="flex-none">
                        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancelar()"
                            class="p-button-danger mr-2 mb-2"></button>
                        <button type="submit" pButton pRipple icon="pi pi-check" label="SALVAR"
                            class="p-button-success mb-2"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid grid-nogutter">
                    <div class="field col-12 md:col-12">
                        <label htmlFor="txtNome" for="txtNome">Nome: *</label>
                        <input pInputText id="txtNome" formControlName="nome" [required]="true" type="text"
                            placeholder="Nome do tipo" />
                        <small
                            *ngIf="nome.invalid && (form.submitted || nome.dirty || nome.touched) && nome.errors?.['required']"
                            class="p-error">
                            O nome é obrigatório.
                        </small>
                    </div>
                    <div class="field col-12 md:col-12">
                        <label htmlFor="txtDescricao" for="txtDescricao">Descrição: *</label>
                        <textarea pInputTextarea id="txtDescricao" formControlName="descricao"
                            [required]="true" rows="2" cols="30"
                            placeholder="Descrição do tipo"></textarea>
                        <small
                            *ngIf="descricao.invalid && (form.submitted || descricao.dirty || descricao.touched) && descricao.errors?.['required']"
                            class="p-error">
                            A descrição é obrigatória.
                        </small>
                    </div>
                </div>
            </form>
        </div>
        <div class="card p-fluid" *ngIf="!renderedCadastro">
            <div class="flex align-items-center">
                <div class="flex-grow-1">
                    <h4>Filtro de tipos de lançamento</h4>
                </div>
            </div>
            <div class="flex align-items-end">
                <div class="flex-grow-1 p-1">
                    <div class="field">
                        <label for="pesquisa">O que você procura?</label>
                        <input id="pesquisa" type="text" pInputText [(ngModel)]="pesquisa" />
                    </div>
                </div>
                <div class="flex-none p-1">
                    <div class="field">
                        <button pButton pRipple icon="pi pi-filter-fill" class="p-button-help"
                            (click)="filtrar()"></button>
                    </div>
                </div>
                <div class="flex-none p-1">
                    <div class="field">
                        <button pButton pRipple icon="pi pi-th-large" label="NOVO TIPO" (click)="novo()"></button>
                    </div>
                </div>
            </div>
            <p-table [value]="lista" styleClass="p-datatable-striped p-datatable-gridlines"
                responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} até {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th style="width: 6rem; text-align: center;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tipo>
                    <tr>
                        <td>{{tipo.nome}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-button-text mr-2"
                                    (click)="editar(tipo)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="deletar(tipo)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="2">
                            Nenhum registro foi encontrado
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
